
@media (max-width: 600px){
    body {
        background-color: aquamarine;
    }

    #FirstNav {
        width: 412px;
        height: 44px;
    }

    .logo {
        width: 199px;
    }

    .SecondNav > ul {
        visibility: hidden;
    }
}

#FirstImg {
         width: 322px;
         height: 80px;        
}

#FirstNav {
    text-align: center;
}

ul li {
    display: inline;
    padding:200px;
}

.SecondNav > ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-top: 20px;
}

.logo {
    width: 353px;
}